:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --cinza-terciario: #F9F9F9;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --roxo-link: #cc07cc;
    --botao-azul-efeito: #3c92fa;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.principal {
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container__titulo {
    font-size: 36px;
    font-weight: 700;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    color: var(--cinza-secundario);
    font-size: 12px;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.25em;
}

.descricao__texto {
    color: var(--cinza-terciario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1.5em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
}

.dispositivos__listas {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.lista__item {
    font-size: 32px;
    font-weight: 700;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 3em 0;
}

.lista__link a{
    color: var(--branco-principal);
    text-decoration: none;
    margin-left: 1.6em;
}

.rodape__texto {
    font-size: 14px;
    color: var(--cinza-secundario);
    margin: 1em 0;
    line-height: 2;
}

/*Efeitos de click */

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: var(--roxo-link);
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

.botao_secundario:hover {
    background-color: var(--cinza-secundario);
    opacity: 0.7;
    color: var(--cor-de-fundo);
}